html{
height: 100%;
}

header{
    margin-bottom: 30px;
}


.body-wrapper {
    width: 100%;
    height: auto;
    padding: 30px;
}

.label-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin: 40px;
}

.header-sentence {
    text-align: center;
    font-size: 36px;
    font-family: fantasy;
    color: #1E93FF
}

.my-profile {
    position: absolute;
   top: 10px;
    &_image{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
    }
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
}

.header-content {
    position: relative;
    height: 65%;
}

.logout{
    position: absolute;
    top:30px;
    font-weight: bold;
    color: #7e7e7e;
    font-size: 20px;
    right: 0;
}


.profile{
    position: absolute;
    top:10px;
    display: none;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #f6f6f6;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    border-radius: 5%;
    padding: 20px;
}

.profile-title{
    text-align: center;
    font-weight:bold ;
    color: #1E93FF;
    font-size: 24px;
}
.profile-wrapper{
    margin:10px ;
}

.profile-detail-title{
    font-size: 24px;
    font-weight:bolder ;
    color:#275681;
}

.profile-detail{
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.profile_img{
    width: 100%;
}

.modal-img-box{
    width: 100%;
}

.profile-edit-button{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #1e93ff;
    color: white;
   align-items: center;

}

.p-button{
    text-align:center;
    margin-top: 30px;
}

.round_btn {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;  /* 丸みの度合い */
    background: gray; /* ボタンの背景色 */
  }
   
  .round_btn::before, .round_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 21px;
    background: #fff; /* バツ印の色 */
  }
   
  .round_btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
   
  .round_btn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  